a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(0, 81, 255);
    font-weight: bold;
}
.achievement{
    height: 270px;
}
li{
    font-size: 17px;
    padding: 5px;
}
li:hover{
    font-weight: bolder;
}

body{
    margin: 0;
    background-color: #6DDCCF;
}
.eca{
    position: relative;
    top: 100px;
}
.ecal{
    position: absolute;
}

.ecaimg{
    
    margin-left: 5px;
    height: 200px;
    float: left;
    position: relative;
    right: 190px;
    bottom: 40px;
}
.educareer{
    min-width: 1000px;
    padding-bottom: 19px;
}
.edu{
    font-size: 17px;
    margin-left: 400px;
    min-width: 700px;
    border-collapse: collapse;
    text-align: left;
    
}
.eduimg{
    position: relative;
    bottom: 0px;
    margin-left: 5px;
    height: 200px;
    float: left;
    
}
.edu thead tr{
    background-color: #94EBCD;
    font-weight: bold;
}
.edu td, .edu th{
    padding: 10px;
}
.edu tbody tr{
    border-bottom: 1px solid #94EBCD;
}
.edu tr:hover{
    background-color:#94ebcd41 ;

}
.gif{
    margin-left: 35%;
    margin-right: 0;
    float: left;
}
.intro{
    margin-bottom: 0;
    padding-top: 60px;
    font-family: 'Courgette', cursive;
}
.intro2{
    margin-top: 5px;
    font-family: 'Courgette', cursive;
}


.nav{
    min-width: 1020px ;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px 0;
    background-color: #94EBCD;
    clear: both;
}
.navtable {
    min-width: 100%;
    border-right: 2px solid #6DDCCF;
}
.navtable td{
    width: 14.28%;
    text-align: center;
    border-left: 2px solid #6DDCCF;
}
.skill{
    min-height: 250px;
    min-width: 1020px ;
    padding-top: 10px;
    background-color: #94EBCD;
    padding-bottom: 19px;
}
.skillimg{
    position: relative;
    bottom: 30px;
    margin-right: 10px;
    width: 200px;
    float: left;
}

.skilltable{
    font-size: 17px;
    margin-left: 400px;
    min-width: 600px;
    border-collapse: collapse;
    text-align: left;
}

.skilltable td{
    padding: 10px;
}
.lang{
    min-height: 200px;
    min-width: 1020px ;
    padding-top: 10px;
    background-color: #94EBCD;
    padding-bottom: 19px;
}
.langimg{
    height: 170px;
    position: relative;
    bottom: 25px;
    float: left;
}
.himg{
    position: relative;
    left: 15px;
    bottom: 22px;
    float: left;
    height: 170px;

}
.hobby{
    height: 220px;
}
.msg{
    min-width: 1020px;
    background-color: #94EBCD;
    height: 280px;
}
.msgimg{
    height: 170px;
    float: left;
    position: relative;
    left: 15px;
}
.container{
    text-align:center;
    max-width: max-content;
    max-height: max-content;
    border-radius: 10px;
    background-color: #b5e9e3c7;
    background-color: ;
    padding: 30px 10px 10px 20px;
    margin-left: 400px;
}
#name{
    height: 20px;
    width: 300px;
}
#message{
    height: 60px;
    width: 300px;
}
#submit{
    border-radius: 10px;
    background-color: #6DDCCF;
}
.social{
    margin-right: 2px;
    height: 16px;
    width: 16px;
}
.sname{
    font-size: 18px;
}
.td1 , .td2{
    border-right: 2px solid #94EBCD;
}
.socialhandles{

    font-family: 'Montserrat', sans-serif;
}
.socialtable td{
    padding: 0px 10px 0px 10px;
}
.socialtable{
    padding: 5px 0px;
}
footer{
    font-family: 'Montserrat', sans-serif;
}
td{
    min-width: max-content;
}
li{
    min-width: 300px ;
}